.*.d
.*.P
.*.sw?
.sw?
*~
*.a
*.bin
*.C
*.E
*.efi
*.o
*.so
/*.auth
/*.crt
/*.cer
/*.der
/*.efi
/*.esl
/*.log
/*.p12
/*.pem
/*.pk12
/*.tar.*
/*.strace
/*.rpm
*-8be4df61-93ca-11d2-aa0d-00e098032b8c
*-d719b2cb-3d3a-4596-a3bc-dad00e67656f
core.*
cov-int/
pwfile
scan-results/
vgcore.*
