[Unit]
Description=Pesign signing daemon

[Service]
PrivateTmp=true
Type=forking
PIDFile=/var/run/pesign.pid
Environment=NSS_STRICT_NOFORK=DISABLED
ExecStart=/usr/bin/pesign --daemonize
